In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTL6IRfx0OvbgfN219xGkCaalp2Z0TQrPWpGAXMPoCJyZOT-Bfe-AVBKclvpQcNA7ah0GfZVPSn6j7M/pub?output=csv')

In [5]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [6]:
df.drop('car_ID', axis = 1, inplace = True)

In [7]:
df.isnull().sum()

symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [13]:
cat_df = df.select_dtypes('O')
cat_df

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo 144ea,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo 244dl,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo 246,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo 264gl,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [23]:
num_df = df.select_dtypes(['int'],['float'])
num_df.drop('symboling',axis = 1, inplace = True)

In [26]:
df['symboling'].unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

In [27]:
cat_df['symboling'] = df['symboling'].astype('category')
cat_df

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,symboling
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,1
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi,2
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi,2
...,...,...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,std,four,sedan,rwd,front,ohc,four,mpfi,-1
201,volvo 144ea,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,-1
202,volvo 244dl,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,-1
203,volvo 246,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,-1
204,volvo 264gl,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,-1

In [30]:
df['carwidth'].describe()

count    205.000000
mean      65.907805
std        2.145204
min       60.300000
25%       64.100000
50%       65.500000
75%       66.900000
max       72.300000
Name: carwidth, dtype: float64

In [32]:
q1 = df['carwidth'].quantile(0.25)
q1

64.1

In [36]:
q3 = df['carwidth'].quantile(0.75)
q2

66.9

In [37]:
iqr = q3 - q1
iqr

2.8000000000000114

In [38]:
ll = q1 -1.5 * iqr
ll

59.89999999999998

In [40]:
ul = q3 - 1.5 * iqr
ul

62.69999999999999

In [44]:
outliers = num_df[(num_df['carwidth']< ll) |(num_df['carwidth'] > ul)]

KeyError: 'carwidth'

In [45]:
cat_df

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,symboling
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,1
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi,2
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi,2
...,...,...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,std,four,sedan,rwd,front,ohc,four,mpfi,-1
201,volvo 144ea,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,-1
202,volvo 244dl,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,-1
203,volvo 246,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,-1
204,volvo 264gl,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,-1

In [47]:
cat_df['CarName'].value_counts()

toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: CarName, Length: 147, dtype: int64

In [51]:
cat_df['CarName'][0].split()[0]

'alfa-romero'